numpy
pandas
scipy
scikit-learn
matplotlib
Seaborn
keras
tensorflow-gpu
h5py
flask
flask-cors
Pillow
bcolz
setuptools
kaggle-cli
scikit-image
tensorflow
torch
torchvision
bleach
certifi
cycler
decorator
entrypoints
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
mistune
nbconvert
nbformat
notebook
olefile
opencv-python
pandocfilters
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
simplegeneric
six
terminado
testpath
tornado
tqdm
traitlets
wcwidth
webencodings
widgetsnbextension